<div class="individual_question" id="<%= @current_organization %>_admins_with_organization_access">
  <h4 class="ruda700">Do all key admins have access to the OKM?</h4>

  <% if @test_session.organization_has_test_results?(@current_organization, 'admins_with_organization_access') %>
      <% @test_session.get_latest_result_for_test_by_organization(@current_organization, 'admins_with_organization_access').each do |key, value| %>
        <span class="individual_answer <% if value['is_in_database?'] == 'yes' && value['can_log_in?'] == 'yes' %>question_success<% else %>question_fail<% end %>">

          <%= value['admin_email'] %>

          <% if value['is_in_database?'] == 'yes' %>
            is in the database
          <% else %>
            is not in the database
          <% end %> and

          <% if value['can_log_in?'] == 'yes' %>
            can log in.
          <% else %>
            cannog log in.
          <% end %><br>
        </span>
      <% end %>
  <%= erb :'views/test-sessions/manual_trigger'%>

  <% else %>
  
    <span class="individual_answer">Automated results have not yet been posted for this test.</span>
  
  <% end %>

</div>
