<div class="individual_question" id="<%= @current_organization %>_<%= test_name %>">
  <h4 class="ruda700">!!QUESTION!!</h4>
  <!-- Start of answer -->
  <% if @test_session.organization_has_test_results?(@current_organization, test_name) %>
      <% @test_session.get_latest_result_for_test_by_organization(@current_organization, test_name).each do |key, value| %>
        <span class="individual_answer <% if value['is_in_database?'] == 'yes' && value['can_log_in?'] == 'yes' %>question_success<% else %>question_fail<% end %>">

          <%= value['admin_email'] %>

          <% if value['is_in_database?'] == 'yes' %>
            is in the database
          <% else %>
            is not in the database
          <% end %> and

          <% if value['can_log_in?'] == 'yes' %>
            can log in.
          <% else %>
            cannog log in.
          <% end %><br>
        </span>
      <% end %>
  <%= erb :'views/test-sessions/manual_trigger'%>
    <!-- End of answer -->
  <% else %>
  
  <!-- Start of copy for no results generatred yet -->
    <span class="individual_answer">Automated results have not yet been posted for this test.</span>
  <!-- End of copy for no results generatred yet -->
 
  <% end %>
</div>
