
<div class="btn-group l_10_top_margin">
  <form action="/utilities/test_status" method="POST" style="display: inline;">
    <input id='manual-pass-organization-id' type='hidden' name='organization_id' value='<%= @current_organization %>'>
    <input id='manual-pass-test-name' type='hidden' name='test_name' value='<%= test_name %>'>
    <input type="submit" name="Pass" value="Pass" class="btn btn-xs btn-success">
    <input type="submit" name="Fail" value="Fail" class="btn btn-xs btn-danger">
    <br>
    <br>
    <textarea id='outcome_reason' name='outcome_reason' rows=10 cols=140 ><%= @current_test_session.get_latest_reason_for_test_status_by_organization(@current_organization, test_name) %></textarea>
    <br><br>
  </form>
  <p><%= erb :'views/test-sessions/test_status', :locals => { :organization_id => @current_organization, :test_name => test_name } %></p>
</div>
<div ng-controller="TextController">
<p>{{someText}}</p>
<script>
  function TextController($scope, $http) {
    $scope.someText = 'WHOA! yea!';
    $scope.formData = {};
  }
</script>
</div>
<br/>
<br/>
