<nav class="navbar navbar-inverse ruda400" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand ruda700" href="#">the migrator</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Test Sessions <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if @test_sessions.any? %>
              <% @test_sessions.each do |session| %>
                <li><a href="/<%= session.id || '::no id::' %>"><%= session.session_date || '::no date listed for this session::' %></a>
                </li>
              <% end %>
            <% else %>
              <li><a>No sessions have been scheduled yet.</a>
            <% end %>
            <li class="divider"></li>
            <li><a href="#">Create</a></li>
          </ul>
        </li>
        <li><a href="/utilities/test_results">Test Result Posts Utility View</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>