<section class="container">
  <div class="row">
    <div class="col-md-12 container l_semiwhite ruda400">
      <h1>Add New Test Session</h1>
      <form method='POST' action='/'>
        <%= erb :'views/test-sessions/test_session_form' %>
      </form>
    </div>
  </div>
</section>