<div class="questions">
    <h4 class="ruda700"></h4>

  <%= erb :'views/test-sessions/questions/organization_information', :locals => { :test_name => 'organization_information', :test_name_full => 'Organization Information' } %>

    <em>Does the "keys report" have all Legacy/Scidea Diff checks set to OK?</em><br>
    Status<br><br>

    <em>Are the Global Key counts OK?</em><br>
    Status<br><br>

    <em>Does the "sco records report" have all Legacy/Scidea Diff checks set to OK?</em><br>
    Status<br><br>


    <em>Key sample investigation</em><br>
    Status<br><br>

    <%= erb :'views/test-sessions/questions/admins_with_organization_access', :locals => { :test_name => 'admins_with_organization_access', :test_name_full => 'Do all key admins have access to the OKM?' } %>

    <em>Is the subdomain correct?</em><br>
    Status<br><br>

    <em>AS ADMIN: Is the information in my profile accurate?</em><br>
    Status<br><br>

    <em>Can I click on all the main links without having a 500 error?</em><br>
    Status<br><br>

    <em>Can I navigate through all the keys states without having a 500 error?</em><br>
    Status<br><br>

    <em>Does global search function properly?</em><br>
    Status<br><br>

    <em>Has the key state script been properly run? Check in global search to make sure key states match.</em><br>
    Status<br><br>

    <em>Do groups seem consistent?</em><br>
    Status<br><br>

    <em>Do all users have profiles?</em><br>
    Status<br><br>

    <em>Do all users have course records?</em><br>
    Status<br><br>

    <em>Are there any 'inactive' key states?</em><br>
    Status<br><br>

    <em>Can users in progress at external courses continue where they left off externally?</em><br>
    Status<br><br>
</div>