<div class="container l_semiwhite ruda400">
  <div class="row">
    <div class="col-md-12 l_20_bottom_margin">
      <h1 class="ruda900 l_no_bottom_margin">Temp Data Pulls</h1>
      <%= @test_session.get_latest_result_for_test_by_organization(1042, 'admins_with_organization_access') %>
    </div>
  </div>
</div>