<% title = "Test Sessions" %>

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- link href="/test_session.css" rel="stylesheet" -->
  <link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon">
  <title><%= title %></title>
</head>
<header>
  <%#= erb :'views/test-sessions/test_session_header_nav_partial' %>
</header>
<%= yield %>