/*
TABLE OF CONTENTS

HTML ELEMENTS
BOOTSTRAP OVERRIDES
ADDITIONAL CLASSES
FONTS
/*



/* HTML Elements */
body {
  background-image: url('../images/ao.gif');
}

a {
  -o-transition:color .3s ease-out;
  -ms-transition:color .3s ease-out;
  -moz-transition:color .3s ease-out;
  -webkit-transition:color .3s ease-out;

  /* ...and now override with proper CSS property */
  transition:color .3s ease-out, background 1s ease-in;
}

a:link {color:#272830;}
a:visited {color:#272830;}
a:hover {color:#30333b;}
a:active {color:#2b2e36;}

h1 {
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
  color: #30333b;
}

hr {
  border: 0;
  background-color: #808080;
  height: 1px;
}

/* Bootstrap Overrides */

.navbar {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

/* Additional Classes */
.l_semiwhite {
  background: rgba(256, 256, 256, .6);
}

.l_ul {
  list-style-type: none;
  padding-left: 0;
}

.l_ul li {
  padding-left: 0;
}

.l_no_top_margin {
  margin-top: 0;
}

.l_no_bottom_margin {
  margin-bottom: 0;
}

.l_20_bottom_margin {
  margin-bottom: 20px;
}

.l_10_top_margin {
  margin-top: 10px;
}

.questions {
  margin-top: 20px;
}

.individual_question{
  margin-bottom: 10px;
}

.question_success{
  color: #677E3A;
}

.question_fail{
  color: #882533;
}

.individual_answer {
  font-size: 12px;
}

.fader {
  -o-transition:color .3s ease-out;
  -ms-transition:color .3s ease-out;
  -moz-transition:color .3s ease-out;
  -webkit-transition:color .3s ease-out;

  /* ...and now override with proper CSS property */
  transition:color .3s ease-out, background 1s ease-in;
}

.test_progress
{
list-style-type:square;
}

/* Fonts */
.ruda400 {
  font-family: 'Ruda', sans-serif;
  font-weight: 400;
}

.ruda700 {
  font-family: 'Ruda', sans-serif;
  font-weight: 700;
}

.ruda900 {
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
}